.mobile-app {
  position: relative;
  max-width: 304px;
  margin: auto;
  overflow: hidden;
}
.mobile-app::after {
  content: "";
  background-image: url(iphonex-black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.mobile-app .app-screen {
  margin: auto;
  border-radius: 45px;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 16px;
}